<div class="main-content" ng-init="figurasCtrl.init()" ng-controller="FigurasOpListaController as figurasCtrl">
<section>
    <div class="page-header">
        <h1>
            <i class="md md-insert-chart"></i> Figuras Operativas
        </h1>
    </div>
    <div class="forms-advanced row ">
        <div class=" col-md- 12 text-right">
             <label>Clave del proyecto (autoasignada): PSIPSCO0001</label>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-8">
              <h4 class="p-l-20">Proyecto: Evaluación de la Oferta Educativa: Preescolar</h4>
        </div>
        <div class="col-md-4 text-right">
            <h5>Muestra 1/3</h5> 
        </div>
        <div class="row ">
            <div class="col-md-6">
                <div class="well white divScroll">
                    <table class="table table-hover table-full table-full-small">
                        <thead>
                            <tr>
                                <th >Figuras operativas</th>
                                <th class="text-center">Figuras de planeación operativa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="figurasList in figurasCtrl.figurasList" ng-model="figurasList.checked">
                              
                              <td >{{figurasList.descPerfil}} </td>
                           
                                <td class="text-center">
                                    <div class="switch">
                                        <label class="filled">
                                            <input checked="" type="checkbox"  ng-model="figurasList.checked" value="{{figurasList.idPerfil}}" >
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
             <button type="button" class="btn btn-primary pull-right" ng-click="figurasCtrl.selectedfiguras()">Guardar</button>
        </div>
    </div>
</section>
</div>