<section>
    <div class="page-header">
        <h1><i class="md md-insert-chart"></i> Editar NOMBRE DEL PROYECTO (PROY01) </h1>
        <p class="lead">Clave del proyecto: PSIPSCO0001</p>
    </div>
    <div class="row m-b-40">
        <div class="well white">
            <form class="form-floating">
                <fieldset>
                    <legend>Descripción</legend>
                    <div class="form-group filled">
                        <label for="proyectoDescripcion" class="control-label normal">Agrega o edita el texto</label>
                        <textarea class="form-control vertical " rows="3" id="proyectoDescripcion">Tristique senectus et netus et. Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque habitant. Cras fermentum, odio eu feugiat pretium, nibh ipsum consequat nisl. Diam vel quam elementum pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet, consectetur adipiscing.</textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <legend>Características</legend>
                            <div class="row p-t-15">
                                <div class="col-md-6">
                                    <div class="form-group filled">
                                        <label class="control-label normal">Caracter de estudio</label>
                                        <select class="form-control">
                                            <option value="">Selecciona</option>
                                            <option value="">Caracter 1</option>
                                            <option value="">Caracter 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group filled">
                                        <label for="inputEmail" class="control-label normal">Número de muestras</label>
                                        <input class="form-control" value="" type="number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group filled">
                                        <label class="control-label normal">Status</label>
                                        <select class="form-control">
                                            <option value="">Selecciona</option>
                                            <option value="">Status 1</option>
                                            <option value="">Status 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group filled">
                                        <label class="control-label normal">Dirección general responsable</label>
                                        <select class="form-control">
                                            <option value="">Selecciona</option>
                                            <option value="">Dirección g 1</option>
                                            <option value="">Dirección g 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group filled">
                                        <label class="control-label normal">Dirección de área responsable</label>
                                        <select class="form-control">
                                            <option value="">Selecciona</option>
                                            <option value="">Dirección a 1</option>
                                            <option value="">Dirección a 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group filled">
                                        <label class="control-label normal">Unidad de Observación</label>
                                        <select class="form-control">
                                            <option value="">Selecciona</option>
                                            <option value="">Unidad 1</option>
                                            <option value="">Unidad 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <legend>Población objetivo</legend>
                            <div class="row p-t-15">
                                <!-- ESTE DIV ES EL QUE TIENEN QUE REPETIR -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="col-xs-8 pull-left">Población 1</p>
                                        <div class="switch">
                                            <label class="filled">
                                                <input checked="checked" type="checkbox">
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="col-xs-8 pull-left">Población 1</p>
                                        <div class="switch">
                                            <label class="filled">
                                                <input checked="checked" type="checkbox">
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="col-xs-8 pull-left">Población 1</p>
                                        <div class="switch">
                                            <label class="filled">
                                                <input checked="checked" type="checkbox">
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="col-xs-8 pull-left">Población 1</p>
                                        <div class="switch">
                                            <label class="filled">
                                                <input checked="checked" type="checkbox">
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="col-xs-8 pull-left">Población 1</p>
                                        <div class="switch">
                                            <label class="filled">
                                                <input checked="checked" type="checkbox">
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <p class="col-xs-8 pull-left">Población 1</p>
                                        <div class="switch">
                                            <label class="filled">
                                                <input checked="checked" type="checkbox">
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <legend>Fechas del proyecto</legend>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="md md-event-available"></i></span>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="fromDate" data-max-date="" placeholder="Fecha de inicio" bs-datepicker="" value="Sit amet, porttitor eget dolor morbi non arcu risus, quis." style="" type="text">
                                        </div>
                                        <div class="col-md-6 filled">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="untilDate" data-min-date="" placeholder="Fecha de término" bs-datepicker="" value="At varius vel, pharetra vel turpis nunc." type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <legend>Fechas del aplicación</legend>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="md md-event-available"></i></span>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="fromDate" data-max-date="" placeholder="Fecha de inicio" bs-datepicker="" value="Sit amet, porttitor eget dolor morbi non arcu risus, quis." style="" type="text">
                                        </div>
                                        <div class="col-md-6 filled">
                                            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="untilDate" data-min-date="" placeholder="Fecha de término" bs-datepicker="" value="At varius vel, pharetra vel turpis nunc." type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group filled">
                                    <label for="inputEmail" class="control-label normal">Número de muestras</label>
                                    <input class="form-control" value="" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <legend>Comentario</legend>
                    <div class="form-group filled">
                        <label for="proyectoDescripcion" class="control-label normal">Agrega o edita el texto</label>
                        <textarea class="form-control vertical " rows="3" id="proyectoDescripcion">Tristique senectus et netus et. Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque habitant. Cras fermentum, odio eu feugiat pretium, nibh ipsum consequat nisl. Diam vel quam elementum pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet, consectetur adipiscing.</textarea>
                    </div>
                    <div class="form-group pull-right">
                        <button type="reset" class="btn btn-default">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
